html{
    height: 100%;
}

body{
    /*font-family: 'Krona One' ;*/
    background-color: #1F2640;
    font-family: 'Open Sans';
    color: white;
    height: 100%;
}

h1, h2{
    font-family: 'Krona One';
}

a{
    color: #7A97FF;
    font-weight: bold;
    text-decoration: none;
}

span{
    display: block;
}

code{
    background-color: #273052;
    font-weight: bold;
    color: whites;
    border-radius: 3px;
    box-sizing: border-box;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    display: inline-block;
}

.content{
    left: 50%;
    max-width:600px;
    position: absolute;
    padding-left:15px;
    padding-right: 15px;
    margin-bottom: 25px;
    background-color: #202742;
    transform: translate(-50%, 0%);
}

.inner{
    display: block;
    margin-left: 25px;
}

hr{
    background-color: #7A97FF;
    border-color: #7A97FF;
    height: 3px;
}

